{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        {% for profile in profiles %}
            {% if not profile == user.profile %}  
                <div class="card m-5">
                    <div class="card card-rounded">
                        <div class="card-body">
                            <a href="{% url 'profile_detail' profile.pk %}">
                            <div>
                                <form method="post">
                                    {% csrf_token %}
                                    <img src="{% static profile.picture %}" class="profile-pic rounded-circle">
                                    <span class="fw-bold">{{ profile.user.username }}</span>
                                    <input type="hidden" name="pk" value="{{ profile.pk }}">
                                    {% if profile in user.profile.following.all %}
                                        <button type="submit" class="btn btn-outline-primary ml-2" name="follow" value="unfollow">Unfollow</button>
                                    {% else %}
                                        <button type="submit" class="btn btn-primary ml-2" name="follow" value="follow">Follow</button>
                                    {% endif %}
                                </form>
                            </div>
                            <div class="fw-bold mb-2">
                                {{ profile.user.first_name}} {{ profile.user.last_name}}
                            </div>
                            <div class="mb-4">
                                <span class="mr-2"><span class="fw-bold">{{ profile.followed_by.count }}</span> Followers</span> 
                                <span><span class="fw-bold">{{ profile.following.count }}</span> Following</span>
                            </div>
                            <div>
                                <p>{{ profile.bio }}</p>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}